.page {
  color: var(--text-color);
  font-family: var(--main-font, sans-serif), sans-serif;
  background-color: var(--bg-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--text-font-weight);
}

.decorated-zone {
  justify-content: center;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  background-position: center;
}

/* начало блока header */

.header {
  display: grid;
  justify-items: center;
  justify-content: center;
  width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  margin: 100px auto;
  font-family: var(--accent-font), sans-serif;
  line-height: normal;
  text-transform: uppercase;
}

.header__title {
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  margin-block: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 9px;
  padding-inline-start: 18px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  bottom: 2px;
  left: -19px;
  animation: arrow 0.5s ease-in-out infinite alternate;
  aspect-ratio: 1/1;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button::after {
  content: "";
  display: block;
  background-color: var(--text-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  block-size: 2px;
  inline-size: 100%;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

/* начало блока main */

.content {
  display: grid;
  justify-items: center;
  gap: 50px;
  padding-block-end: 103px;
}

.card__list {
  display: grid;
  gap: 51px;
}

.article {
  width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.article__title {
  border-block-end: 2px solid var(--text-color);
  padding: 3px 10px;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: "wght" var(--title-font-weight);
}

.img__wrapper {
  position: relative;
}

.img__label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
  color: var(--text-color, #000000);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  text-shadow: 0 0 1px var(--bg-color);
  mix-blend-mode: hard-light;
}

.label__uppercase {
  text-transform: uppercase;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  border-block-start: 2px solid var(--text-color);
  padding: 25px 25px 5px 25px;
  font-size: 18px;
  line-height: 21px;
}

.button__body {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 25px 25px 23px 25px;
}

.button {
  position: relative;
  z-index: 1;
  border: 2px solid var(--text-color);
  padding: 9px 0;
  background: var(--bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 38px;
  min-inline-size: 130px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 3px;
  border: 2px solid transparent;
  background: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  appearance: none;
  max-block-size: 38px;
}

.button__text {
  color: var(--button-text-color);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  mix-blend-mode: difference;
}

.button-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--button-text-color);
  block-size: 21px;
  inline-size: 21px;
  mix-blend-mode: difference;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px var(--text-color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--text-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__save-to-memory {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color);
}

/* фильтры */
.img__filter-grayscale {
  filter: grayscale(70%);
  -webkit-filter: grayscale(70%);
  -moz-filter: grayscale(70%);
}

.img__filter-saturation {
  filter: saturate(30%);
  -webkit-filter: saturate(30%);
  -moz-filter: saturate(30%);
}

.img__filter-blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
}

.img__filter-inversion {
  filter: invert(75%);
  -webkit-filter: invert(75%);
  -moz-filter: invert(75%);
}

.img__filter-brightness {
  filter: brightness(0.4);
  -webkit-filter: brightness(0.4);
  -moz-filter: brightness(0.4);
}

.img__filter-contrast {
  filter: contrast(200%);
  -webkit-filter: contrast(200%);
  -moz-filter: contrast(200%);
}

.img__filter-hue-rotate {
  filter: hue-rotate(90deg) brightness(90%);
  -webkit-filter: hue-rotate(90deg) brightness(90%);
  -moz-filter: hue-rotate(90deg) brightness(90%);
}

.heart {
  width: 27px;
  height: 24px;
}

.sparks {
  opacity: 0;
}

/* начало dialog */
.dialog {
  width: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  border-color: var(--text-color);
  padding: 30px;
  background-color: var(--bg-color);
}

.dialog[open] {
  display: grid;
  gap: 20px;
}

.dialog::backdrop {
  opacity: 0.75;
  background: var(--bg-black);
}

.dialog__body {
  display: flex;
  align-items: center;
  gap: 16px;
}

.dialog__icon {
  fill: var(--text-color);
  inline-size: 39px;
  block-size: 39px;
}

.dialog__text {
  color: var(--text-color);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  max-inline-size: clamp(12.375rem, 11.5827rem + 3.3803vw, 14.625rem);
}

.dialog__button {
  border-color: var(--text-color);
  padding: 9px;
  text-transform: uppercase;
  inline-size: 100%;
}

@media (width < 376px) {
  .header {
    margin-block-start: 99px;
  }

  .content {
    padding-block-end: 99px;
  }

  .card__content {
    padding: 25px 25px 25px 25px;
  }

  .card__list {
    gap: 51px;
  }

  .article__title {
    padding-bottom: 6px;
  }

  .img__label {
    right: 11px;
  }

  .button__save-to-memory {
    flex-direction: column;
  }

  .button-svg {
    block-size: 28px;
    inline-size: 28px;
  }

  .button__body {
    padding: 0 25px 25px 25px;
  }

  .dialog {
    padding: 30px 30px 30px 38px;
  }
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {
  .img__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
  }
}
