:root {
  --bg-black: #000000;
  --bg-white: #ffffff;
  --text-green: #00cc14;
  --text-black: #000000;
  --main-font: "Inter";
  --accent-font: "PressStart2P";
  --text-font-weight: 400;
  --title-font-weight: 700;
  --button-text-color: var(-bg-white);
  --background-image: repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  /* переменные для кнопки с сердечком */
  ---main-body: none;
  --contour: var(--text-color);
  --sparks: #ff0000;
}
